
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 <link rel="stylesheet" href="/src/styles.css">
    <title>Abandon </title>
    <style>
          .bg {
background-image: url('/src/app/who-we-are/catnddog.jpg');
background-position: center center;
width: 100%;
height: 150%;
          }
          .glass {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.bg1{
    background-color:rgba(221, 212, 212, 0.973);
}

    </style>
</head>
<body>
    <div class="bg">
        <br><br><br>
    <div class="container">
        <div class="card text-body glass" style="width: 50%; height: 90%; left: 30%;border: 1px solid;" >
            <div class="card-body">
        
        <br>
        <div class="row col-md-10">
        
        <h1 style="color:  #FFD8A9;">Abandon:</h1>
        <br><br> <br> <br>
        <form class="col-md-8">
            <div class="form-check form-check-inline  ">
                <input type="radio" name="n1" class="form-check-input" id="r1" value="Cat">
                <label class="form-check-label" for="r1" style="color: #FFD8A9">Cat</label>

            </div>
            <div class="form-check form-check-inline">
                <input type="radio" name="n1" class="form-check-input" id="r2" value="Dog">
                <label class="form-check-label" for="r1" style="color: #FFD8A9">Dog</label>
    
            </div>
        </form>
        </div>
        <br><br>
        <div class="col-md-10">
            <form class="form-floating">
            <input type="text" class="form-control bg1" id="nom1" placeholder="Pet Nom" required>
            <label for="nom1" style="color:#E38B29;">Your pet's name</label>
            <div class="valid-feedback">valide</div>
            <div class="invalid-feedback">unvalide</div>
             </form> </div>
        <br><br>
        <div class="row col-md-10">
    
            <h3 style="color:  #E38B29;">Gender:</h3><br><br>
            <form class="col-md-8">
                <div class="form-check form-check-inline ">
                    <input type="radio" name="n2" class="form-check-input" id="female" value="female">
                    <label class="form-check-label" for="female" style="color: #FFD8A9;">Female</label>
        
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" name="n2" class="form-check-input" id="male" value="Dog">
                    <label class="form-check-label" for="male" style="color: #FFD8A9;">Male</label>
                </div>
            </form>
        </div>
        <br><br>

    <form class="col-md-10" >
        <select class="form-select form-control-sm bg1 " placeholder="race" id="sel1">
            <option style="color: #E38B29;">Your dog's breed</option>
            <option style="color: #E38B29;">Labrador Retriever</option>
            <option style="color: #E38B29;" >Bulldog Anglais</option>
            <option style="color: #E38B29;">Berger Allemand</option>
            <option style="color: #E38B29;">Autre</option>
        </select>
    </form>

 <br>

 <form class="col-md-10">
    <select class="form-select form-control-sm bg1" id="sel2">
        <option style="color: #E38B29;">Your cat's breed</option>
        <option style="color: #E38B29;">Siamois</option>
        <option style="color: #E38B29;" >Persan</option>
        <option style="color:#E38B29;" >Bengal </option>
        <option style="color: #E38B29;">Autre</option>
    </select>
</form>
<br><br>
<form class="col-md-10">
    <h3 style="color: #E38B29;">Age:</h3><br>
    <select class="form-select form-control-sm bg1" id="sel2">
        <option style="color: #E38B29;">0--3</option>
        <option style="color: #E38B29;" >4--7</option>
        <option style="color: #E38B29;" >8--11</option>
        <option style="color: #E38B29;" >12--14</option>
        <option style="color:#E38B29;" >15--18</option>
        <option style="color: #E38B29;" >19--22</option>
        <option style="color: #E38B29;" >23--26</option>
    </select>

</form>
<br><br>
<div class="row">
<div class="col-5">
    <form class="form-floating">
        <input type="text" class="form-control bg1" id="nom1" placeholder="Pet Nom" required>
        <label for="nom1" style="color:#E38B29;"> Weight </label>
        <div class="valid-feedback">valide</div>
        <div class="invalid-feedback">unvalide</div>
         </form>
</div>
    <div class="col-5">
        <form class="form-floating">
            <input type="text" class="form-control bg1" id="nom1" placeholder="Pet Nom" required>
            <label for="nom1" style="color:#E38B29;"> Color </label>
            <div class="valid-feedback">valide</div>
            <div class="invalid-feedback">unvalide</div>
             </form>
    </div>
</div>
 <br><br>
 <div class="col-md-10">
   
    <h5 style="color:#E38B29 ;">About your pet :</h5>
    <br>
    <input type="text" class="form-control bg1" id="nom2" placeholder="Write a small description about your pet " required>
   
</div>
     <br><br><br>

     <div class="container d-grid col-8">
        <button type="button" class="btn btn-outline-light me-2" style="color: #FFD8A9;">Register</button>
    </div>

</div>
</div>
<br><br><br><br><br>
    </div>
    </div>
</body>
</html>

